@model TesteBrPartners.Domain.Models.Cliente
@{
    ViewData["Title"] = "Adicionar Cliente";
}

<h2>Adicionar Cliente</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Nome</label>
        <input asp-for="Nome" class="form-control" />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
